.banner {
  background-image: url(https://img2.rtve.es/i/?w=1600&i=1634633493933.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 25%;
}
.banner2 {
  background-image: url('https://biografiasraperos.files.wordpress.com/2015/05/rayden.jpg');
  background-position: top center;
  background-size: 100vw;
  background-attachment: fixed;
  padding: 9%;
}
